<header class="main-header">
  <div class="header-container">
    <div class="logo-container">
      <img src="assets/porsche-logo.png" alt="Porsche Logo" class="logo-img" />
    </div>

    <nav class="nav-bar">
      <a routerLink="" class="nav-link">Home</a>
      <a routerLink="/models" class="nav-link">Models</a>
      <a routerLink="/brand" class="nav-link">Brand</a>
    </nav>
  </div>
</header>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<footer>
  <p>&copy; 2026 Porsche. All rights reserved;</p>
</footer>
